/.ruby-gemset
/.ruby-version
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# native libs
/lib/rnp/ffi/*.dll
/lib/rnp/ffi/*.dylib
/lib/rnp/ffi/*.so